.card {
    border: 2px solid rgb(189, 185, 185);
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 8px solid rgb(136, 17, 17);
    height: max-content;
  }
  .img {
    margin: 0.5rem;
    border-radius: 5px;
  }
  
  p,
  h5,
  h4 {
    margin: 0;
  }
  
  .name {
    font-weight: 500;
  }
  
  .price {
    color: rgb(136, 17, 17);
    margin-top: 0.5rem;
    margin-bottom: 1.25rem;
  }
  
  .price span,
  .address {
    color: grey;
  }
  
  .footer {
    margin-top: 1rem;
    border-top: 2px solid rgb(189, 185, 185);
    padding: 1rem 0;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
  
  .footer h4 {
    color: #31b7ac;
    font-size: 1.25rem;
    font-weight: 600;
  }
  